# Default ignored files
/shelf/
/workspace.xml
/*/.gradle
/.idea

.gradle
/build/
/*/build/
/sandbox/*/build/
*.iml
.idea/
.allure
/*/allure-results/
/*/allure-report/


#IDEA Files
.idea/*
!.idea/vcs.xml
!.idea/icon.png
*.iml
*.ipr

#Mac OS stuff
.DS_Store
